@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

@font-face {
  font-family: "Barlow";
  font-weight: 400;
  src: url("vendors/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Barlow";
  font-weight: 600;
  src: url("vendors/fonts/Barlow-Medium.ttf");
}
@font-face {
  font-family: "Barlow";
  font-weight: 700;
  font-style: normal;
  src: url("vendors/fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow";
  font-weight: 700;
  font-style: italic;
  src: url("vendors/fonts/Barlow-BoldItalic.ttf");
}

body {
  font-family: "Barlow", sans-serif;
  color: $color-text-700;
  font-size: 1.125rem;

  @media (max-width: 767px) {
    font-size: 1rem;
  }
}

.large-only {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.small-only {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
