.prospectus {
  background: $color-bg;

  &__body {
    @media screen and (max-width: 576px) {
      width: 100%;
    }

    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }

    .content {
      width: 100%;
      height: 950px;
      max-width: 600px;
      margin: auto;
      overflow-x: hidden;

      &__container {
        display: flex;
        flex-flow: column wrap;
        align-items: stretch;
        width: 100%;
        // margin-left: 2.5%;
        // margin-right: 2.5%;
        height: 100%;
        transition: 0.3s ease-in-out;

        & > * {
          margin-top: 1rem;
          padding: 2rem;
          width: 85%;
          margin-left: 7.5%;
          margin-right: 7.5%;
          margin-bottom: 3rem;
          border-top: 4px solid $color-primary;
          border-radius: 4px;
          position: relative;
          background: #fff;
          flex: 1 1 95%;
          box-sizing: border-box;
          box-shadow: 0 2rem 3rem rgba($color-primary-700, 0.1);

          @media only screen and (max-width: 576px) {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
          }
        }
      }

      .item {
        display: flex;
        padding: 0.5rem;

        .label {
          flex: 1 1 60%;
          text-transform: capitalize;

          @media only screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
        .sep {
          flex: 1 1 10%;

          .large-only {
            @media only screen and (max-width: 800px) {
              display: none;
            }
          }
        }

        .value {
          flex: 1 1 30%;
          display: flex;
          justify-content: flex-end;
          //   font-weight: 700;
        }

        &.total {
          font-weight: 700;
          margin-bottom: 1rem;
        }

        &.heading {
          margin-top: 1rem;
          .label {
            font-weight: 700;
            text-transform: uppercase;
            flex-basis: 100%;
          }
          .sep {
            flex-basis: 0%;
          }
          .value {
            flex-basis: 0%;
          }
        }

        &:first-child {
          .value {
            font-weight: 700;
          }
        }
      }
      .by-parents {
        display: flex;
        flex-flow: row wrap;
        padding: 0.5rem;

        .value {
          padding: 0.5rem 0;
          flex: 1 1 50%;
        }

        @media only screen and (max-width: 800px) {
          flex-flow: column;
        }
      }

      @media only screen and (max-width: 768px) {
        height: 1250px;
      }
    }
  }
}

.classes {
  display: flex;
  justify-content: center;

  li {
    cursor: pointer;
    align-self: center;
    white-space: nowrap;
    padding: 1rem;
    margin: 0.5rem;
    background: $color-bg;
    border-radius: 5rem;
    transition: 0.3s ease-out;

    &:hover {
      background: rgba($color-primary-700, 0.25);
    }

    &.active {
      background: rgba($color-primary-700, 0.9);
      color: #fff;
      transform: scale(1.05) translateY(-2px);
      box-shadow: 0 0.8rem 2rem rgba($color-primary-700, 0.2);
    }
    @media only screen and (max-width: 768px) {
      font-size: 14px;
      margin: 0.3rem;
    }
  }

  &.stick {
    position: fixed;
    background: #fff;
    border: 1px solid rgba($color-primary-700, 0.2);
    padding: 0.3rem 0.5rem;
    border-radius: 3rem;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    z-index: 500;
    box-shadow: 0 1.5rem 2rem -1rem rgba($color-primary-700, 0.15);

    li.active {
      transform: translateY(2px);
      box-shadow: 0 0.4rem 0.05rem inset rgba($color-text-400, 0.2);
    }

    @media only screen and (max-width: 768px) {
      top: 70px;
      //   padding-top: 1rem;
    }
  }
}
